.nameCard {
    font-size: 16px;
    font-weight: 600;
}

.lastnameCard {
    font-size: 14px;
    font-weight: 400;
}

.departmentCard {
    font-size: 12px;
    font-weight: 400;
    color: #7D8592;
    border: solid #7D8592 1px;
    border-radius: 5px;
}
.welcomeBackH6 {
    /*Estilos para el 'Bienvenido de nuevo, usuario' de Dadshboard*/
    font-size: 15px;
    font-weight: extralight;
    color: grey;
    opacity: 0.8;
}

.homeH3 {
    /*Estilos para el 'Inicio' de Dadshboard*/
    font-size: 50px;
    font-weight: bolder;
    color: #000000;

}

.containerNav {
    width: 24%;
}
