html {
    background-color: #F4F9FD;
}

.principalCard {
    font-size: 16px;
    font-weight: 600;
}

.secundarioCard {
    font-size: 14px;
    font-weight: 400;
}

.terciarioBorderCard {
    font-size: 12px;
    font-weight: 400;
    color: #7D8592;
    border: solid #7D8592 1px;
    border-radius: 5px;
}
.welcomeBackH6 {
    /*Estilos para el 'Bienvenido de nuevo, usuario' de Dadshboard*/
    font-size: 15px;
    font-weight: extralight;
    color: grey;
    opacity: 0.8;
}

.homeH3 {
    /*Estilos para el 'Inicio' de Dadshboard*/
    font-size: 50px;
    font-weight: bolder;
    color: #000000;

}




.container-footer{
    width: auto;
    padding: 16px;
    margin: 1rem;
    min-height: auto;
}


@media (width > 768px) {
    .container {
        width: auto;
        background: white;
        padding: 16px;
        margin: 1rem;
        min-height: auto;
        margin-left: 18rem;
        box-shadow: rgba(125, 133, 146, 0.5);
        border-radius: 0.5rem;
    }

    .container-footer {
        margin-left: 18rem;
    }
}
