/* COLORES:
 azul principal: #457FBF
 azul principal hover: #2664A9
 azul secundario: #47A7BD
 acento amarillo: #FDC748
 azulito background: #F4F9FD
*/



html {
    background-color: #F4F9FD;
}

.principalCard {
    font-size: 16px;
    font-weight: 600;
}

.secundarioCard {
    font-size: 14px;
    font-weight: 400;
}

.terciarioBorderCard {
    font-size: 12px;
    font-weight: 400;
    color: #7D8592;
    border: solid #7D8592 1px;
    border-radius: 5px;
}

.welcomeBackH6 {
    /*Estilos para el 'Bienvenido de nuevo, usuario' de Dadshboard*/
    font-size: 15px;
    font-weight: extralight;
    color: grey;
    opacity: 0.8;
}

.homeH3 {
    /*Estilos para el 'Inicio' de Dadshboard*/
    font-size: 50px;
    font-weight: bolder;
    color: #000000;

}

.container {
    width: auto;
    background: white;
    padding: 16px;
    margin: 1rem;
    min-height: auto;
    box-shadow: rgba(125, 133, 146, 0.5);
    border-radius: 0.5rem;
}

.container-footer {
    width: auto;
    padding: 16px;
    margin: 1rem;
    min-height: auto;
}

.container-bg-none {

    width: auto;
    padding: 16px;
    margin: 1rem;
    min-height: auto;
    box-shadow: rgba(125, 133, 146, 0.5);
    border-radius: 0.5rem;
    margin-left: 18rem;

}

.buttonPrincipal {
    padding: 12px 24px;
    background-color: #457FBF;
    color: white;
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.buttonPrincipal:hover {
    background-color: #2664A9;
}

.buttonSecundario {
    padding: 12px 24px;
    background-color: white;
    color: #457FBF;
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.buttonSecundario:hover {
    background-color: #e5e7eb;
}

.buttonInactive {
    padding: 12px 24px;
    background-color: #457FBF;
    opacity: 0.5;
    color: white;
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

.icon-large {
    font-size: 40px;
    color: #457FBF;
}


@media (width >= 768px) {
    .container {
        width: auto;
        background: white;
        padding: 16px;
        margin: 1rem;
        min-height: auto;
        margin-left: 18rem;
        box-shadow: rgba(125, 133, 146, 0.5);
        border-radius: 0.5rem;
    }

    .container-footer {
        margin-left: 18rem;
    }

    .icon-large {
        font-size: 50px;
    }
}